body {
    margin-top: 10px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: darkgray;
}

.overlay {
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 280px;
    height: 280px;
    background-color: transparent;
    color: transparent;
}

.submit {
    margin-top: 10px;
}