html {
    margin: auto;
}

body {
    background-color: transparent;
    overflow: hidden;
    color: white;
    margin: auto;
}

#logo {
    position: absolute;
    top: 5px;
    left: 2047px;
    width: 10%;

}

h1 {
    text-shadow: 2px 2px 2px black;
}

#winsLeft,
#winsRight,
#overlay,
#teamColorRight {
    display: none;
}

#winsLeftThree {
    position: absolute;
    top: 150px;
    left: 680px;
    background-color: transparent;
    width: 23px;
    height: 37px;
    transform: skewX(31.5deg);
}

#winsLeftTwo {
    position: absolute;
    top: 150px;
    left: 721px;
    background-color: transparent;
    width: 23px;
    height: 37px;
    transform: skewX(31.5deg);
}

#winsLeftOne {
    position: absolute;
    top: 150px;
    left: 757px;
    background-color: transparent;
    width: 23px;
    height: 37px;
    transform: skewX(31.5deg);
}

#winsRightOne {
    position: absolute;
    top: 147px;
    right: 757px;
    background-color: transparent;
    width: 23px;
    height: 37px;
    transform: skewX(-31.5deg);
}

#winsRightTwo {
    position: absolute;
    top: 147px;
    right: 717px;
    background-color: transparent;
    width: 23px;
    height: 37px;
    transform: skewX(-31.5deg);
}

#winsRightThree {
    position: absolute;
    top: 147px;
    right: 678px;
    background-color: transparent;
    width: 23px;
    height: 37px;
    transform: skewX(-31.5deg);
}

.topWing {
    width: 300px;
    height: 20px;
    background-image: linear-gradient(to bottom, rgb(216, 216, 216), gray);
}

#overlayiFrame {
    width: 1920px;
    height: 1080px;
}