.scoreboardT {
    width: 1056px;
    height: 25px;
    position: absolute;
    top: 30px;
    left: 432px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(153, 153, 153, 1) 12%, rgba(222, 222, 222, 1) 100%);
    border-left: medium solid black;
    border-right: medium solid black;
    border-bottom: medium solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.scoreboardB {
    width: 672px;
    height: 30px;
    position: absolute;
    top:58px;
    left:624px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(153, 153, 153, 1) 12%, rgba(222, 222, 222, 1) 100%);
    border-left: medium solid black;
    border-right: medium solid black;
    border-bottom: medium solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

img {
    width: 200px;
    position: absolute;
    left: 860px;
    top:5px;
}

.scoretrackerL {

    width: 50px;
    height: 50px;
    transform: skew(40deg);


}

#rightScore1 {
    width: 35px;
    height: 20px;
    position: absolute;
    right: 675px;
    top: 62px;
    background-color: red;
    clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);
}

#rightScore2 {
    width: 35px;
    height: 20px;
    position: absolute;
    right: 650px;
    top: 62px;
    background-color: green;
    clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);
}

#leftScore1 {
    width: 35px;
    height: 20px;
    position: absolute;
    left: 650px;
    top: 62px;
    left: 675px;
    top: 62px;
    background-color: red;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);
}

#leftScore2 {
    width: 35px;
    height: 20px;
    position: absolute;
    left: 650px;
    top: 62px;
    background-color: blue;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);
}

#namePlateLeftSlope {
    width: 65px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    left: 475px;
    /*this should be the other teams color*/
    background-color: blueviolet;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);

}

#namePlateLeft {
    width: 173px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    left: 540px;
    /*this should be the other teams color
    need to update school name here and */
    background-color: blueviolet;
}

#namePlateRightSlope {
    width: 65px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    right: 645px;
    /*this should be the other teams color*/
    background-color: blueviolet;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);

}

#namePlateRight {
    width: 178px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    right: 468px;
    /*this should be the other teams color*/
    background-color: blueviolet;
}

#homeText,
#awayText,
#awayScore,
#awayScoreText {
    display: none;
}