

.scoreboardT{
    width:1056px;
    height:30px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(153,153,153,1) 12%, rgba(222,222,222,1) 100%);
    border-left: medium solid black;
    border-right: medium solid black;
    border-bottom: medium solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.scoreboardB{
    width:672px;
    height:30px;
    margin-left:auto;
    margin-right:auto;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(153,153,153,1) 12%, rgba(222,222,222,1) 100%);
    border-left: medium solid black;
    border-right: medium solid black;
    border-bottom: medium solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
img{
    width:200px;
    top:-38px;
    position:absolute;
    left: 860px;
}
.scoretrackerL{
    {
        width: 50px;
        height: 50px;
        transform: skew(40deg);
   

    }
}